name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  android:
    uses: PVOT-OSS/workflows/.github/workflows/android-build.yml@main
    with:
      upload-artifacts: true
